.characterEditor {
	padding-top: 128px;
	padding-bottom: 64px;
	background: linear-gradient(
		to top,
		transparent,
		transparent 60%,
		hsl(195deg, 20%, 86%) 40%,
		hsl(195deg, 20%, 86%) 100%
	);
}

.maxWidthWrapper {
	width: 65%;
}

.header {
	padding-bottom: 64px;
}

.title {
	font-size: 2.5rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 16px;
	letter-spacing: -0.5px;
}

.description {
	font-size: 1.25rem;
	margin: 0;
}
.characterWrapper {
	position: fixed;
	top: 100px;
	right: 0;
}

.controlColumn {
	width: calc(100vw * 0.5);
	overflow-y: scroll;
}
